/* body{
background-image: url(https://img.freepik.com/free-vector/tiny-women-near-obese-chart-scales-isolated-flat-vector-illustration-cartoon-female-characters-diet-using-weight-control-with-bmi-body-mass-index-medical-fitness-exercise-concept_74855-10177.jpg?t=st=1727700912~exp=1727704512~hmac=ee91ec1db7303a912ce511d4f12f52ab2564568dfbc51c055da6e0beebf897fa&w=1380);
background-repeat: no-repeat;
background-size: contain; 
background-position: bottom;
} */